.edittask{
    border:2px solid red;
    padding:20px;
    background-color: rgb(19, 22, 22);
    text-align: center;
margin:100px

}
#taskname{
width: 450px;
}
#isCompleted{
width: 490px;

}
#deadline{
    width: 18px;
    margin-left: 20px;
    background-color: green;;
}
#submitbt{
    width:250px;
    align-items: center;
    margin-left: 0;
}